*.bin
*~
*#
*.save*
*.so
*.o
bin/
ChangeLog
.cproject
.project
txt
*.root
lib/
build/

include/kpix_left.hplot_script.sh
threshold_scan_script.sh
SLAC_plot_script.sh
channel_list_noise.txt
plot_script.sh
threshold_scan_script.sh
SLAC_plot_script.sh
channel_list_noise.txt
run.sh
